img {
    width: 100%;
    height: '';
}

ul{
    list-style: none;
    display: inline-block;
  word-spacing: normal;
}

div.col-sm-6m.col-md-4.px-3{
  padding-bottom: 4rem;
}
.texto-1{
  color:green
}
.boton-1{
  color:green
}
.texto-2{
  color:red
}
.boton-2{
  color:red
}
.texto-3{
  color:darkred
}
.boton-3{
  color:darkred
}
.texto-4{
  color:violet
}
.boton-4{
  color:violet
}
.texto-5{
  color:darkblue
}
.boton-5{
  color:darkblue
}
.texto-6{
  color:blue
}
.boton-6{
  color:blue
}
