<app-navbar></app-navbar>
<div class="header">
    <img src="../../../assets/portada2.jpg " width="1929" height="400" alt="">
</div>


    <div class="row">
        <div class="col-md-2">
            <ul>
                <li *ngFor="let noticia of ListaNoticias">
                    <h2>{{noticia.titulo}}</h2>
                    <img src='../../../assets/{{noticia.imagen}}' alt='{{noticia.imagen}}'>
                    <p>{{noticia.texto}}</p>
                    <button [routerLink]="['/detalleNoticia',noticia.id]" routerLinkActive="router-link-active" >Ver más</button>
                </li>  
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <ul>
                <li *ngFor="let extra of Listaextras">
                    <h2>{{extra.titulo}}</h2>
                    <img src='../../../assets/{{extra.imagen}}' alt='{{extra.imagen}}'>
                    <p>{{extra.texto}}</p>
                    <button [routerLink]="['/detalleNoticia',extra.id]" routerLinkActive="router-link-active" >Ver más</button>
                </li>  
            </ul>
        </div>
    </div>

<app-footer></app-footer>
    
